Repository 4lxndr/pim-community-dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @momoss, @akeneo/core-libraries, @akeneo/core-web-api, @akeneo/core-catalog, @akeneo/core-import-export, @akeneo/core-ui, @akeneo/core-docker

.github/CODEOWNERS:

# cf https://github.com/blog/2392-introducing-code-owners

*       @momoss

src/Akeneo/** @akeneo/core-libraries

src/Pim/Bundle/ApiBundle/** @akeneo/core-web-api
src/Pim/Component/Api/**    @akeneo/core-web-api

src/Pim/Bundle/CatalogBundle/** @akeneo/core-catalog
src/Pim/Component/Catalog/**    @akeneo/core-catalog
src/Pim/Bundle/ReferenceDataBundle/** @akeneo/core-catalog
src/Pim/Component/ReferenceData/**    @akeneo/core-catalog
src/Pim/Bundle/VersionningBundle/** @akeneo/core-catalog

src/Pim/Bundle/ConnectorBundle/** @akeneo/core-import-export
src/Pim/Component/Connector/**    @akeneo/core-import-export

src/Pim/Component/Enrich/**    @akeneo/core-ui
src/Pim/Bundle/DashboardBundle/** @akeneo/core-ui
src/Pim/Bundle/DataGridBundle/** @akeneo/core-ui
src/Pim/Bundle/EnrichBundle/** @akeneo/core-ui
src/Pim/Bundle/FilterBundle/** @akeneo/core-ui
src/Pim/Bundle/ImportExportBundle/** @akeneo/core-ui
src/Pim/Bundle/NotificationBundle/** @akeneo/core-ui
src/Pim/Bundle/UIBundle/** @akeneo/core-ui

docker/**               @akeneo/core-docker
docker-compose.yml.dist @akeneo/core-docker

PIM-7456: Revert changes
  features/datagrid/datagrid_views.feature
Owners: @momoss

PIM-7456: Security vulnerabilities in dependencies
  .ci/Jenkinsfile
  CHANGELOG-1.7.md
  composer.json
Owners: @momoss

PIM-7456: Copy paste the javascript code generated by the deprecated extension
  src/Pim/Bundle/EnrichBundle/Resources/views/AssociationType/create.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/Attribute/form_options.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/AttributeGroup/form.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/CategoryTree/form.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/Family/create.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/Group/create.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/GroupType/create.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/GroupType/edit.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/MassEditAction/configure.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/VariantGroup/create.html.twig
  src/Pim/Bundle/UserBundle/Resources/views/Role/update.html.twig
  src/Pim/Bundle/UserBundle/Resources/views/User/update.html.twig
Owners: @akeneo/core-ui, @momoss

add memory limit to -1
  .ci/Jenkinsfile
Owners: @momoss

Change memeory request for php build container
  .ci/Jenkinsfile
Owners: @momoss

PIM-7456: Fix CI failure
  features/datagrid/datagrid_views.feature
  src/Pim/Bundle/UserBundle/Resources/views/User/update.html.twig
Owners: @momoss

PIM-7371: create a dedicated controller to get categories in the product grid
  src/Akeneo/Pim/Enrichment/Bundle/Controller/InternalApi/ProductGridCategoryTreeController.php
  src/Akeneo/Pim/Enrichment/Bundle/DependencyInjection/AkeneoPimEnrichmentExtension.php
  src/Akeneo/Pim/Enrichment/Bundle/Resources/config/product_grid_category_tree.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/routing/categorytree.yml
Owners: @akeneo/core-libraries, @akeneo/core-ui

PIM-7371: configure the front-end to pass through the new controller
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/product/index.yml
  src/Pim/Bundle/EnrichBundle/Resources/public/js/product/grid/category-tree.js
Owners: @akeneo/core-ui

PIM-7371: implement queries to get a list of categories with the count
  phpspec.yml.dist
  src/Akeneo/Pim/Enrichment/Bundle/Storage/ElasticsearchAndSql/CategoryTree/ListChildrenCategoriesWithCountIncludingSubCategories.php
  src/Akeneo/Pim/Enrichment/Bundle/Storage/ElasticsearchAndSql/CategoryTree/ListChildrenCategoriesWithCountNotIncludingSubCategories.php
  src/Akeneo/Pim/Enrichment/Bundle/Storage/ElasticsearchAndSql/CategoryTree/ListRootCategoriesWithCountIncludingSubCategories.php
  src/Akeneo/Pim/Enrichment/Bundle/Storage/ElasticsearchAndSql/CategoryTree/ListRootCategoriesWithCountNotIncludingSubCategories.php
  src/Akeneo/Pim/Enrichment/Bundle/spec/Storage/ElasticsearchAndSql/CategoryTree/ListChildrenCategoriesWithCountIncludingSubCategoriesSpec.php
  src/Akeneo/Pim/Enrichment/Bundle/spec/Storage/ElasticsearchAndSql/CategoryTree/ListChildrenCategoriesWithCountNotIncludingSubCategoriesSpec.php
  src/Akeneo/Pim/Enrichment/Bundle/spec/Storage/ElasticsearchAndSql/CategoryTree/ListRootCategoriesWithCountIncludingSubCategoriesSpec.php
  src/Akeneo/Pim/Enrichment/Bundle/spec/Storage/ElasticsearchAndSql/CategoryTree/ListRootCategoriesWithCountNotIncludingSubCategoriesSpec.php
  src/Akeneo/Pim/Enrichment/Bundle/tests/Integration/Storage/ElasticsearchAndSql/CategoryTree/CategoryTreeFixturesLoader.php
  src/Akeneo/Pim/Enrichment/Bundle/tests/Integration/Storage/ElasticsearchAndSql/CategoryTree/ListChildrenCategoriesWithCountIncludingSubCategoriesIntegration.php
  src/Akeneo/Pim/Enrichment/Bundle/tests/Integration/Storage/ElasticsearchAndSql/CategoryTree/ListChildrenCategoriesWithCountNotIncludingSubCategoriesIntegration.php
  src/Akeneo/Pim/Enrichment/Bundle/tests/Integration/Storage/ElasticsearchAndSql/CategoryTree/ListRootCategoriesWithCountIncludingSubCategoriesIntegration.php
  src/Akeneo/Pim/Enrichment/Bundle/tests/Integration/Storage/ElasticsearchAndSql/CategoryTree/ListRootCategoriesWithCountNotIncludingSubCategoriesIntegration.php
Owners: @momoss, @akeneo/core-libraries

PIM-7371: add index on left column for category table
  src/Akeneo/Pim/Enrichment/Bundle/Resources/config/doctrine/Category/Category.orm.yml
Owners: @akeneo/core-libraries

PIM-7371: update changelog
  CHANGELOG-3.0.md
Owners: @momoss

PIM-7371: avoid to open and close session several times in a request
  src/Akeneo/UserManagement/Bundle/Context/UserContext.php
Owners: @akeneo/core-libraries

PIM-7371: remove gitkeep file
  src/Akeneo/Pim/Enrichment/Component/Category/.gitkeep
Owners: @akeneo/core-libraries
