Repository 4lxndr/pim-community-dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nidup, @juliensnz, @pierallard, @akeneo/core-web-api, @jjanvier, @damien-carcel

.github/CODEOWNERS:

# cf https://github.com/blog/2392-introducing-code-owners

*       @nidup

*.js    @juliensnz

*.less  @pierallard

src/Pim/Bundle/ApiBundle/** @akeneo/core-web-api
src/Pim/Component/Api/**    @akeneo/core-web-api

src/Pim/Bundle/CatalogBundle/** @jjanvier
src/Pim/Component/Catalog/**    @jjanvier

docker/**               @damien-carcel
docker-compose.yml.dist @damien-carcel

[PEFize users] Set general tab
  src/Akeneo/UserManagement/Bundle/Resources/config/datagrid/user.yml
  src/Akeneo/UserManagement/Bundle/Resources/config/form_extensions/edit.yml
  src/Akeneo/UserManagement/Bundle/Resources/config/routing/old_oro_routes.yml
  src/Akeneo/UserManagement/Bundle/Resources/config/routing/user_rest.yml
  src/Akeneo/UserManagement/Bundle/Resources/views/User/view.html.twig
  src/Akeneo/UserManagement/Component/Normalizer/UserNormalizer.php
  src/Pim/Bundle/EnrichBundle/Resources/config/requirejs.yml
  src/Pim/Bundle/EnrichBundle/Resources/public/js/controller/user.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/edit-form.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/label.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/main-image.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/save.js
Owners: @nidup, @juliensnz

PIM-7473 Adds cache configuration for validation mapping
  CHANGELOG-1.7.md
  src/Pim/Bundle/EnrichBundle/Resources/config/pim.yml
Owners: @nidup

[PEFize users] Save users
  src/Akeneo/UserManagement/Bundle/Controller/Rest/UserController.php
  src/Akeneo/UserManagement/Bundle/Resources/config/controllers.yml
  src/Akeneo/UserManagement/Bundle/Resources/config/form_extensions/edit.yml
  src/Akeneo/UserManagement/Bundle/Resources/config/routing/old_oro_routes.yml
  src/Akeneo/UserManagement/Bundle/Resources/config/routing/user_rest.yml
  src/Akeneo/UserManagement/Component/Normalizer/UserNormalizer.php
  src/Akeneo/UserManagement/Component/Updater/UserUpdater.php
  src/Pim/Bundle/EnrichBundle/Resources/public/js/controller/user.js
Owners: @nidup, @juliensnz

[PEFize users] Display error messages
  CHANGELOG-3.0.md
  src/Akeneo/UserManagement/Bundle/Controller/Rest/UserController.php
  src/Akeneo/UserManagement/Bundle/Resources/config/controllers.yml
  src/Pim/Bundle/EnrichBundle/Controller/Rest/GroupTypeController.php
Owners: @nidup

[PEFize users] Fix display of error message even if there is no more error and random tab switch
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/fields/field.js
Owners: @juliensnz

[PEFize users] Move available locales
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/fields/available-locales.js
Owners: @juliensnz

[PEFize users] Enable locales
  src/Akeneo/UserManagement/Bundle/Resources/config/form_extensions/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/requirejs.yml
  src/Pim/Bundle/EnrichBundle/Resources/public/js/attribute/form/properties/available-locales.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/fields/available-locales.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/fields/date.js
Owners: @nidup, @juliensnz

[PEFize users] Add scope selector
  src/Akeneo/UserManagement/Bundle/Resources/config/form_extensions/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/requirejs.yml
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/fields/scope.js
Owners: @nidup, @juliensnz

[PEFize users] Add category tree selector
  src/Akeneo/UserManagement/Bundle/Resources/config/form_extensions/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/requirejs.yml
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/fields/available-locales.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/fields/category-tree.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/fields/select.js
  src/Pim/Bundle/EnrichBundle/Resources/public/templates/form/tab/section.html
Owners: @nidup, @juliensnz

[PEFize users] Add UI locale selector
  src/Akeneo/UserManagement/Bundle/Resources/config/form_extensions/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/requirejs.yml
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/fields/ui-locale.js
  src/Pim/Bundle/LocalizationBundle/Controller/LocaleController.php
Owners: @nidup, @juliensnz

[TIP-854] Extract template from enablec cell
  src/Pim/Bundle/DataGridBundle/Resources/config/requirejs.yml
  src/Pim/Bundle/DataGridBundle/Resources/public/js/datagrid/cell/enabled-cell.js
  src/Pim/Bundle/DataGridBundle/Resources/public/templates/datagrid/cell/enabled-cell.html
Owners: @nidup, @juliensnz

[TIP-854] Refactor pim_enrich family and family_variant translations
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/family/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/family_variant/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/public/js/family-variant/form/attribute-set.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/family/form/attributes/attributes.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/family/form/variants/add-family-variant.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/product/form/attributes/add-select/attribute/select.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/product/form/meta/family-variant.js
  src/Pim/Bundle/EnrichBundle/Resources/public/templates/family-variant/attribute-group.html
  src/Pim/Bundle/EnrichBundle/Resources/public/templates/family-variant/attribute-set.html
  src/Pim/Bundle/EnrichBundle/Resources/public/templates/family-variant/labels-container.html
  src/Pim/Bundle/EnrichBundle/Resources/public/templates/family/tab/variants/add-variant-form-fields-container.html
  src/Pim/Bundle/EnrichBundle/Resources/public/templates/family/tab/variants/add-variant-form-header.html
  src/Pim/Bundle/EnrichBundle/Resources/translations/jsmessages.en_US.yml
Owners: @nidup, @juliensnz

[TIP-854] Refactor pim_enrich attribute option translations
  src/Pim/Bundle/EnrichBundle/Resources/public/js/attribute-option/create.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/pim-attributeoptionview.js
  src/Pim/Bundle/EnrichBundle/Resources/public/templates/product/field/multi-select.html
  src/Pim/Bundle/EnrichBundle/Resources/public/templates/product/field/simple-select.html
  src/Pim/Bundle/EnrichBundle/Resources/translations/jsmessages.en_US.yml
Owners: @juliensnz, @nidup

[TIP-854] Refactor pim_enrich channel translations
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/attribute_group/create.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/channel/create.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/channel/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/public/js/channel/form/properties/conversion-unit.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/channel/form/properties/general/category-tree.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/channel/form/properties/general/currencies.js
  src/Pim/Bundle/EnrichBundle/Resources/translations/jsmessages.en_US.yml
Owners: @nidup, @juliensnz

[TIP-854] Refactor pim_enrich product model translations
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/mass_edit/add_to_existing_product_model.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/mass_edit/change_parent_product.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/product_model/create.yml
  src/Pim/Bundle/EnrichBundle/Resources/public/js/product-model/form/add-child/fields-container.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/product-model/form/complete-variant-product.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/product/form/attributes/read-only-parent-attributes.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/product/form/attributes/variant-axes.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/product/form/variant-navigation.js
  src/Pim/Bundle/EnrichBundle/Resources/public/templates/product_model/add-child/header.html
  src/Pim/Bundle/EnrichBundle/Resources/public/templates/product_model/complete-variant-product.html
  src/Pim/Bundle/EnrichBundle/Resources/translations/jsmessages.en_US.yml
Owners: @nidup, @juliensnz

[TIP-854] Remove pim_enrich.index key
  src/Akeneo/UserManagement/Bundle/Resources/translations/jsmessages.en_US.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/association_type/index.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/channel/index.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/export/create-profile.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/export/index-profile.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/family/index.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/group/index.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/group_type/index.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/import/create-profile.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/import/index-profile.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/user/index-group.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/user/index-role.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/user/index-user.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/jsmessages.en_US.yml
  src/Pim/Bundle/ImportExportBundle/Resources/translations/jsmessages.en_US.yml
Owners: @nidup

[TIP-854] Remove confirmation key
  src/Akeneo/UserManagement/Bundle/Resources/translations/jsmessages.en_US.yml
  src/Akeneo/UserManagement/Bundle/Resources/views/Role/update.html.twig
  src/Pim/Bundle/DataGridBundle/Resources/config/requirejs.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/association_type/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/attribute/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/attribute_group/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/channel/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/family/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/group/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/group_type/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/product/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/form_extensions/product_model/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/attributes.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/delete.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/state.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/pim-attributeoptionview.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/pim-item-view.js
  src/Pim/Bundle/EnrichBundle/Resources/translations/jsmessages.en_US.yml
  src/Pim/Bundle/UIBundle/Resources/views/Default/page_elements.html.twig
Owners: @nidup, @juliensnz

[PEFize users] Add Timezone selector
  src/Akeneo/UserManagement/Bundle/Resources/config/form_extensions/edit.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/requirejs.yml
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/fields/timezone.js
  src/Pim/Bundle/EnrichBundle/Resources/public/templates/form/common/fields/select.html
Owners: @nidup, @juliensnz

[TIP-854] Fix CI
  src/Pim/Bundle/DataGridBundle/Resources/config/requirejs.yml
  src/Pim/Bundle/EnrichBundle/Resources/public/js/product-model/form/add-child/fields-container.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/product-model/form/complete-variant-product.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/product/form/attributes/locale-specific.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/product/form/attributes/read-only-parent-attributes.js
  src/Pim/Bundle/EnrichBundle/Resources/public/js/product/form/attributes/variant-axes.js
  src/Pim/Bundle/EnrichBundle/Resources/translations/jsmessages.en_US.yml
  tests/legacy/features/Context/Page/Base/ProductEditForm.php
  tests/legacy/features/localization/product/edit_product.feature
  tests/legacy/features/product-model/edit_product_model.feature
  tests/legacy/features/product/edit_variant_product.feature
Owners: @nidup, @juliensnz

[PEFize users] Add groups selector
  src/Akeneo/UserManagement/Bundle/Resources/config/form_extensions/edit.yml
  src/Akeneo/UserManagement/Component/Normalizer/UserNormalizer.php
  src/Pim/Bundle/EnrichBundle/Resources/config/requirejs.yml
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/fields/user-group.js
  src/Pim/Bundle/EnrichBundle/Resources/public/templates/form/common/fields/select.html
Owners: @nidup, @juliensnz

[PEFize users] Add roles selector
  src/Akeneo/UserManagement/Bundle/Controller/Rest/UserRoleController.php
  src/Akeneo/UserManagement/Bundle/Resources/config/controllers.yml
  src/Akeneo/UserManagement/Bundle/Resources/config/form_extensions/edit.yml
  src/Akeneo/UserManagement/Bundle/Resources/config/requirejs.yml
  src/Akeneo/UserManagement/Bundle/Resources/config/routing.yml
  src/Akeneo/UserManagement/Bundle/Resources/config/routing/user_role_rest.yml
  src/Akeneo/UserManagement/Component/Normalizer/UserNormalizer.php
  src/Akeneo/UserManagement/Component/Updater/UserUpdater.php
  src/Pim/Bundle/EnrichBundle/Resources/config/requirejs.yml
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/fields/user-role.js
Owners: @nidup, @juliensnz

[PEFize users] Add password panel
  src/Akeneo/UserManagement/Bundle/Controller/Rest/UserController.php
  src/Akeneo/UserManagement/Bundle/Resources/config/controllers.yml
  src/Akeneo/UserManagement/Bundle/Resources/config/form_extensions/edit.yml
  src/Akeneo/UserManagement/Component/Updater/UserUpdater.php
  src/Pim/Bundle/EnrichBundle/Resources/config/requirejs.yml
  src/Pim/Bundle/EnrichBundle/Resources/public/js/form/common/fields/password.js
  src/Pim/Bundle/EnrichBundle/Resources/public/templates/form/common/fields/password.html
Owners: @nidup, @juliensnz

PIM-7459 Fix perf issue by removing combinatory explosion Also avoid reloading all families information for each product
  CHANGELOG-1.7.md
  src/Pim/Bundle/CatalogBundle/Doctrine/MongoDBODM/CompletenessGenerator.php
  src/Pim/Bundle/CatalogBundle/Doctrine/ORM/Repository/FamilyRepository.php
Owners: @nidup, @jjanvier

Move reference documentation
  reference_doc/ARCHITECTURE.md
  reference_doc/STANDARD_FORMAT.md
Owners: @nidup

TIP-842: move Structure subscribers
  CHANGELOG-3.0.md
  UPGRADE.md
  src/Akeneo/Pim/Structure/Bundle/DependencyInjection/AkeneoPimStructureExtension.php
  src/Akeneo/Pim/Structure/Bundle/EventSubscriber/AddUniqueAttributesToVariantProductAttributeSetSubscriber.php
  src/Akeneo/Pim/Structure/Bundle/EventSubscriber/ComputeFamilyVariantStructureChangesSubscriber.php
  src/Akeneo/Pim/Structure/Bundle/EventSubscriber/RemoveAttributesFromFamilyVariantsOnFamilyUpdateSubscriber.php
  src/Akeneo/Pim/Structure/Bundle/EventSubscriber/SaveFamilyVariantOnFamilyUpdateSubscriber.php
  src/Akeneo/Pim/Structure/Bundle/Resources/config/event_subscribers.yml
  src/Akeneo/Pim/Structure/Bundle/spec/EventSubscriber/AddUniqueAttributesToVariantProductAttributeSetSubscriberSpec.php
  src/Akeneo/Pim/Structure/Bundle/spec/EventSubscriber/ComputeFamilyVariantStructureChangesSubscriberSpec.php
  src/Akeneo/Pim/Structure/Bundle/spec/EventSubscriber/RemoveAttributesFromFamilyVariantsOnFamilyUpdateSubscriberSpec.php
  src/Akeneo/Pim/Structure/Bundle/spec/EventSubscriber/SaveFamilyVariantOnFamilyUpdateSubscriberSpec.php
  src/Pim/Bundle/CatalogBundle/Resources/config/event_subscribers.yml
Owners: @nidup, @jjanvier

TIP-842: move last Structure updaters
  src/Akeneo/Pim/Structure/Bundle/Resources/config/updaters.yml
  src/Akeneo/Pim/Structure/Component/Updater/AssociationTypeUpdater.php
  src/Akeneo/Pim/Structure/Component/Updater/AttributeGroupUpdater.php
  src/Akeneo/Pim/Structure/Component/spec/Updater/AssociationTypeUpdaterSpec.php
  src/Akeneo/Pim/Structure/Component/spec/Updater/AttributeGroupUpdaterSpec.php
  src/Pim/Bundle/CatalogBundle/Resources/config/updaters.yml
  src/Pim/Component/Catalog/tests/integration/Updater/AttributeGroupUpdaterIntegration.php
Owners: @nidup, @jjanvier

PIM-7371: add multi-search into the Akeneo ES client to execute parallelized queries
  src/Akeneo/Tool/Bundle/ElasticsearchBundle/Client.php
  src/Akeneo/Tool/Bundle/ElasticsearchBundle/spec/ClientSpec.php
Owners: @nidup

PIM-7371: create read model for getting categories in the product grid
  phpspec.yml.dist
  src/Akeneo/Pim/Enrichment/Component/Category/CategoryTree/ReadModel/ChildCategory.php
  src/Akeneo/Pim/Enrichment/Component/Category/CategoryTree/ReadModel/RootCategory.php
  src/Akeneo/Pim/Enrichment/Component/spec/Category/CategoryTree/ReadModel/ChildCategorySpec.php
  src/Akeneo/Pim/Enrichment/Component/spec/Category/CategoryTree/ReadModel/RootCategorySpec.php
Owners: @nidup

PIM-7371: create normalizer of the read models to get categories in the product grid
  src/Akeneo/Pim/Enrichment/Component/Category/CategoryTree/Normalizer/ChildCategory.php
  src/Akeneo/Pim/Enrichment/Component/Category/CategoryTree/Normalizer/RootCategory.php
  src/Akeneo/Pim/Enrichment/Component/spec/Category/CategoryTree/Normalizer/ChildCategorySpec.php
  src/Akeneo/Pim/Enrichment/Component/spec/Category/CategoryTree/Normalizer/RootCategorySpec.php
Owners: @nidup

PIM-7371: add query handlers to list root and child categories in the product grid
  src/Akeneo/Pim/Enrichment/Component/Category/CategoryTree/Query/ListChildrenCategoriesWithCountIncludingSubCategories.php
  src/Akeneo/Pim/Enrichment/Component/Category/CategoryTree/Query/ListChildrenCategoriesWithCountNotIncludingSubCategories.php
  src/Akeneo/Pim/Enrichment/Component/Category/CategoryTree/Query/ListRootCategoriesWithCountIncludingSubCategories.php
  src/Akeneo/Pim/Enrichment/Component/Category/CategoryTree/Query/ListRootCategoriesWithCountNotIncludingSubCategories.php
  src/Akeneo/Pim/Enrichment/Component/Category/CategoryTree/UseCase/ListChildrenCategoriesWithCount.php
  src/Akeneo/Pim/Enrichment/Component/Category/CategoryTree/UseCase/ListChildrenCategoriesWithCountHandler.php
  src/Akeneo/Pim/Enrichment/Component/Category/CategoryTree/UseCase/ListRootCategoriesWithCount.php
  src/Akeneo/Pim/Enrichment/Component/Category/CategoryTree/UseCase/ListRootCategoriesWithCountHandler.php
  src/Akeneo/Pim/Enrichment/Component/spec/Category/CategoryTree/UseCase/ListChildrenCategoriesWithCountHandlerSpec.php
  src/Akeneo/Pim/Enrichment/Component/spec/Category/CategoryTree/UseCase/ListChildrenCategoriesWithCountSpec.php
  src/Akeneo/Pim/Enrichment/Component/spec/Category/CategoryTree/UseCase/ListRootCategoriesWithCountHandlerSpec.php
  src/Akeneo/Pim/Enrichment/Component/spec/Category/CategoryTree/UseCase/ListRootCategoriesWithCountSpec.php
Owners: @nidup

move tests
  src/Akeneo/Pim/Structure/Component/tests/integration/Updater/AssociationTypeUpdaterIntegration.php
  src/Akeneo/Pim/Structure/Component/tests/integration/Updater/AttributeGroupUpdaterIntegration.php
Owners: @nidup

PIM-7475: Fix page title for family edit
  features/navigation/navigation_title.feature
  src/Pim/Bundle/EnrichBundle/Resources/views/Family/edit.html.twig
Owners: @nidup

PIM-7475: Add family to Families edit history
  src/Oro/Bundle/NavigationBundle/Entity/Builder/AbstractBuilder.php
  src/Oro/Bundle/NavigationBundle/Entity/Builder/HistoryItemBuilder.php
  src/Oro/Bundle/NavigationBundle/Entity/NavigationHistoryItem.php
  src/Oro/Bundle/NavigationBundle/Event/ResponseHistoryListener.php
  src/Oro/Bundle/NavigationBundle/Provider/TitleService.php
  src/Oro/Bundle/NavigationBundle/Resources/config/services.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.ca.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.da.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.de.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.en.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.es.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.fi.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.fr.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.hr.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.it.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.ja.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.nl.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.pl.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.pt.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.pt_BR.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.pt_PT.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.ru.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.sv.yml
  src/Pim/Bundle/EnrichBundle/Resources/translations/messages.zh.yml
Owners: @nidup

PIM-7475: Update CHANGELOG
  CHANGELOG-1.7.md
Owners: @nidup

InstallerEvent creation
  src/Pim/Bundle/InstallerBundle/Command/AssetsCommand.php
  src/Pim/Bundle/InstallerBundle/Command/DatabaseCommand.php
  src/Pim/Bundle/InstallerBundle/Event/InstallerEvent.php
  src/Pim/Bundle/InstallerBundle/spec/Event/InstallerEventSpec.php
Owners: @nidup

PIM-7456: Remove deprecated bundle
  src/Pim/Bundle/EnrichBundle/Controller/AttributeController.php
  src/Pim/Bundle/EnrichBundle/Resources/views/AssociationType/create.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/Attribute/form_options.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/AttributeGroup/form.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/CategoryTree/form.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/Family/create.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/Group/create.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/GroupType/create.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/GroupType/edit.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/MassEditAction/configure.html.twig
  src/Pim/Bundle/EnrichBundle/Resources/views/VariantGroup/create.html.twig
  src/Pim/Bundle/UserBundle/Resources/views/Role/update.html.twig
  src/Pim/Bundle/UserBundle/Resources/views/User/update.html.twig
Owners: @nidup

PIM-7456: Remove Js validation bundle
  app/AppKernel.php
  app/config/routing.yml
  composer.json
  src/Pim/Bundle/EnrichBundle/Resources/config/bundles/apy_js_form_validation.yml
  src/Pim/Bundle/EnrichBundle/Resources/config/pim.yml
  src/Pim/Bundle/JsFormValidationBundle/DependencyInjection/PimJsFormValidationExtension.php
  src/Pim/Bundle/JsFormValidationBundle/Generator/FormValidationScriptGenerator.php
  src/Pim/Bundle/JsFormValidationBundle/PimJsFormValidationBundle.php
  src/Pim/Bundle/JsFormValidationBundle/Resources/config/jsfv.yml
  src/Pim/Bundle/JsFormValidationBundle/Resources/views/Constraints/DateValidator.js.twig
  src/Pim/Bundle/JsFormValidationBundle/Resources/views/Constraints/EmailValidator.js.twig
  src/Pim/Bundle/JsFormValidationBundle/Resources/views/Constraints/NotBlankPropertiesValidator.js.twig
  src/Pim/Bundle/JsFormValidationBundle/Resources/views/Constraints/RangeValidator.js.twig
  src/Pim/Bundle/JsFormValidationBundle/Resources/views/Constraints/TypeValidator.js.twig
  src/Pim/Bundle/JsFormValidationBundle/Resources/views/Constraints/UniqueValueValidator.js.twig
  src/Pim/Bundle/JsFormValidationBundle/Resources/views/JsFormValidation.js.twig
  src/Pim/Bundle/JsFormValidationBundle/Twig/Extension/JsFormValidationTwigExtension.php
Owners: @nidup

PIM-7456: Fix doctrine config
  app/config/config.yml
Owners: @nidup

PIM-7456: Fix CI failure
  features/Pim/Behat/Context/NavigationContext.php
Owners: @nidup

Update Jenkinsfile
  .ci/Jenkinsfile
Owners: @nidup
